<ion-header>
  <ion-toolbar>
    <ion-title>New Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="10" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Create a new game!</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="gameName" type="text" placeholder="name of game" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="creatorName" type="text" placeholder="your name" ngModel required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-content>
